@charset "utf-8";

header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 100;
    transform: translate(-50%);
    transition: all .3s;
    background-color: purple;
}

header>nav {
    width: 70vw;
    height: 50px;
    background-color: blue;
    position: absolute;
    top: 10%;
    left: 20%;
}

#sidebar {
    width: 200px;
    height: 500px;
    position: absolute;
    top: 20%;
    right: 0;
    background-color: yellow;
}

#wrap {
    width: 100vw;
    height: 100vw;
}

#wrap main {
    width: 100vw;
    height: 1000px;
    text-align: center;
    color: red;
    background-color: green;
    padding-top: 100px;
}

#wrap main>h1 {
    font-size: 3em;
}

#wrap main>h2 {
    font-size: 2em;
}