@charset "utf-8";

/* 메인 - 슬라이더 메뉴 중 첫번째 이미지(페이드인) */
.slide {
    width: 25vw;
    height: 35vw;
    position: relative;
    margin: 10px auto;
}

.slide>li {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.slide>li:not(:first-child) {
    display: none;
}